.success-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7fafc; /* Tailwind bg-gray-100 */
}

.success-message {
  background-color: #ffffff; /* Tailwind bg-white */
  padding: 2rem; /* Tailwind p-8 */
  border-radius: 0.5rem; /* Tailwind rounded-lg */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Tailwind shadow-lg */
  text-align: center;
  max-width: 24rem; /* Tailwind max-w-md */
  width: 100%; /* Tailwind w-full */
}

.checkmark svg {
  width: 4rem; /* Tailwind w-16 */
  height: 4rem; /* Tailwind h-16 */
  color: #48bb78; /* Tailwind text-green-500 */
}

.transaction-code {
  background-color: #f7fafc; /* Tailwind bg-gray-50 */
  padding: 1rem; /* Tailwind p-4 */
  border-radius: 0.5rem; /* Tailwind rounded-lg */
  margin-bottom: 1.5rem; /* Tailwind mb-6 */
}

.text-gray-800 {
  color: #2d3748; /* Tailwind text-gray-800 */
}

.text-gray-600 {
  color: #718096; /* Tailwind text-gray-600 */
}

.text-gray-700 {
  color: #4a5568; /* Tailwind text-gray-700 */
}

.text-orange-500 {
  color: #ed8936; /* Tailwind text-orange-500 */
}

.home-button {
  background-color: #3182ce; /* Tailwind bg-blue-600 */
  color: #fff; /* Tailwind text-white */
  font-weight: bold; /* Tailwind font-bold */
  padding: 0.5rem 1rem; /* Tailwind py-2 px-4 */
  border-radius: 0.25rem; /* Tailwind rounded */
  transition: background-color 0.3s ease;
  width: 100%; /* Make the button full width */
  max-width: 200px; /* Set a max width for the button */
  margin: 0 auto; /* Center the button horizontally */
}

.home-button:hover {
  background-color: #2b6cb0; /* Tailwind hover:bg-blue-700 */
}

.home-button:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); /* Tailwind focus:shadow-outline */
}
