.detail {
  max-width: 800px;
  margin: 60px auto; /* Add margin for spacing */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.detail-header {
  display: flex;
  align-items: center;
}

.detail-header-text {
  margin-left: 20px;
}

.detail-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.detail-content {
  display: flex;
  margin-top: 20px;
}

.detail-info {
  flex: 1;
}

.detail-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detail-info ul {
  margin-top: 10px;
}

.detail-info ul li {
  list-style-type: none;
  margin-bottom: 5px;
}

.detail-image-right {
  flex: 1;
  text-align: center;
}

.detail-image-right img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto; /* Center the image */
}

.detail-description {
  margin-top: 20px;
}

.detail-description h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
