body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 100%;
  height: 400px; /* Adjust height as needed */
  position: relative; /* Để có thể căn chỉnh các phần tử con dựa trên phần tử này */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay-text {
  position: absolute;
  bottom: 3px; /* Đưa phần tử lên trên một chút so với bottom để nằm dưới góc trái */
  left: 10px; /* Đưa phần tử sang phải một chút so với left để nằm dưới góc trái */
  color: rgb(75, 70, 70);
  font-size: 1.5em; /* Điều chỉnh kích thước font chữ */
  font-weight: bold;
  /* background-color: rgba(0, 0, 0, 0.5); Nền mờ màu đen */
  padding: 8px; /* Khoảng cách lề nội dung */
  border-radius: 5px; /* Bo góc */
  margin-left: 10%;
  margin-bottom: 40px;
  box-shadow: 5px;
}

.overlay-text h2 {
  font-size: 1.5em; /* Kích thước font lớn hơn */
  margin-bottom: 10px; /* Khoảng cách dưới của tiêu đề */
}

.back-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 3px; /* Khoảng cách phía trên của nút */
  box-shadow: 2px;
}

.back-link:hover {
  color: coral;
}
.content {
  width: 80%; /* Adjust width as needed */
  margin: 20px auto;
}

.section {
  margin-bottom: 20px;
}

.section h3 {
  font-size: 1.5em;
  color: #333;
}

.section p {
  font-size: 1em;
  color: #666;
}

.section a {
  color: #007bff;
  text-decoration: none;
}

.section a:hover {
  text-decoration: underline;
}
