h4 {
  padding-top: 40px;
}

table {
  width: 100%;
}

table td {
  text-align: center;
  color: rgba(0, 57, 87, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

table th {
  color: aliceblue;
  background-color: rgba(2, 132, 199, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

tbody td {
  text-align: center;
}

.status-completedCH {
  color: #3cb371;
}

.status-completedCH h3 {
  color: #3cb371;
  background-color: #76ff7b61;
  border-radius: 50px;
  padding: 10px 5px 10px 5px;
  width: 50%;
  display: inline-block;
  margin: 0;
}

.status-canceledCH {
  color: #dc143c;
}

.status-canceledCH h3 {
  color: #dc143c;
  background-color: #ff999967;
  border-radius: 50px;
  padding: 10px 5px 10px 5px;
  width: 50%;
  display: inline-block;
  margin: 0;
}

.status-assessingCH {
  color: #ff7f50;
}

.status-assessingCH h3 {
  color: #ff7f50;
  background-color: #ffc87c6c;
  border-radius: 50px;
  padding: 10px 5px 10px 5px;
  width: 50%;
  display: inline-block;
  margin: 0;
}

.status-openedCH {
  color: #214fc6  ;
}

.status-openedCH h3 {
  color: #214fc6 ;
  background-color: #e7feff ;
  border-radius: 50px;
  padding: 10px 5px 10px 5px;
  width: 50%;
  display: inline-block;
  margin: 0;
}

.status-sealedCH {
  color: #ff1493  ;
}

.status-sealedCH h3 {
  color: #ff1493 ;
  background-color: #ffe4e1 ;
  border-radius: 50px;
  padding: 10px 5px 10px 5px;
  width: 50%;
  display: inline-block;
  margin: 0;
}

.popup-overlay-history {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content-history {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 450px;
  max-width: 80%;
}

.close-history {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.save-button-history {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.title-feedback-history {
  font-weight: bold;
  color: #007bff;
}

.successfull-feedback-history{
  color: #3cb371;
}