.container-booking h2 {
    margin-left: 250px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.container-booking Form {
    background-color: rgb(248, 226, 202);
    border-radius: 20px;
    padding-bottom: 1px;
}

.FormItem {
    font-weight: 500;
}

.container-booking {
    margin-left: 100px;

}

.contaier-customer {
    background-image: url('../../../public/backgroundcus.png');
    background-size: cover;
    background-position: center;
}