/* General modal styling */
.contact-modal {
  display: flex;
  background-color: #1a2639; /* Màu nền xanh đen */
  color: #f8f9fa; /* Màu chữ trắng sáng */
  border-radius: 8px; /* Bo tròn các góc */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Đổ bóng cho modal */
}

.contact-modal .modal-header {
  border-bottom: 1px solid #444; /* Đường viền dưới của phần đầu */
  padding-bottom: 1rem; /* Khoảng cách dưới của phần đầu */
}

.contact-modal .modal-footer {
  border-top: 1px solid #444; /* Đường viền trên của phần chân */
  padding-top: 1rem; /* Khoảng cách trên của phần chân */
}

.contact-modal .btn-close {
  background: none;
  border: none;
  color: #f8f9fa; /* Màu chữ trắng sáng */
  opacity: 0.8;
}

.contact-modal .btn-close:hover {
  opacity: 1;
}

.contact-modal-left,
.contact-modal-right {
  flex: 1;
  padding: 20px; /* Khoảng cách padding */
}

/* Text styling */
.contact-modal h2,
.contact-modal p {
  font-family: 'Roboto', sans-serif; /* Font chữ */
  font-size: 16px; /* Kích thước font chữ chính */
  line-height: 1.6; /* Độ cao dòng */
  color: #f8f9fa; /* Màu chữ trắng sáng */
}

.contact-modal h2 {
  font-size: 1.5rem; /* Kích thước tiêu đề */
  font-weight: bold; /* Độ đậm của tiêu đề */
  margin-bottom: 1rem; /* Khoảng cách dưới của tiêu đề */
}

.contact-modal p {
  margin-bottom: 10px; /* Khoảng cách giữa các đoạn văn */
}

.contact-modal .contact-icon {
  font-size: 1.2rem; /* Kích thước biểu tượng */
  color: #CCA866; /* Màu của biểu tượng */
  margin-right: 8px; /* Khoảng cách phía bên phải của biểu tượng */
}

.contact-modal h5.modal-title {
  font-size: 1.5rem; /* Kích thước tiêu đề modal */
  font-weight: bold; /* Độ đậm của tiêu đề modal */
  margin-bottom: 1rem; /* Khoảng cách dưới của tiêu đề modal */
  color: #f8f9fa; /* Màu chữ trắng sáng */
}

/* Button styling */
.btn-circle {
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 1000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #007bff;
  color: #fff;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-circle:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.btn.btn-primary {
  width: 40px; /* Điều chỉnh kích thước chiều rộng */
  height: 40px; /* Điều chỉnh kích thước chiều cao */
  padding: 0; /* Xóa padding để button nhìn gọn hơn */
  font-size: 14px; /* Điều chỉnh kích thước font chữ */
}
