.account-info {
    margin-top: 50px;
}

.account-card {
    max-width: 500px;
    margin: auto;
    border: none;
}

.account-avatar {
    text-align: center;
}

.account-avatar img {
    border: 2px solid #ddd;
    padding: 5px;
}

.account-details {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

button[type="submit"] {
    background-color: #007bff;
    border: none;
}
